@model IEnumerable<PSPark.Models.ServiceHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@html.actionlink("add details of servicing", "new")*@

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Miles</th>
            <th>Total Price</th>
            <th>Details</th>
            <th>Date Added</th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>




            <td>@item.Details</td>
            <td>@item.TotPrice</td>
            <td>@item.Details</td>
            <td>@item.DateAdded</td>



            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>

            <td>
                @Html.ActionLink("Details", "Index", "ServiceDetails", new { @class = "btn btn-primary" )
            </td>
        </tr>
        }

    </tbody>

</table>
@Html.ActionLink("Back To List","Index","Cars")












