@model PSPark.Models.ServiceHistory

@{

    ViewBag.Title = "New";
}
<h2>Details</h2>

@using (Html.BeginForm("Save", "ServiceHistory"))

{

    <div class="form-group">
        @Html.LabelFor(c => c.Miles)
        @Html.TextBoxFor(c => c.Miles, new { @class = "form-control" })


    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.TotPrice)
        @Html.TextBoxFor(c => c.TotPrice, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Details)
        @Html.TextBoxFor(c => c.Details, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.DateAdded)
        @Html.TextBoxFor(c => c.DateAdded, new { @class = "form-control" })
    </div>




    <button type="Submit" class="btn btn-primary">Save</button>
}

